backend/action_path/MiniPrj.json
{
  "name": "MiniPrj",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1104,
        928
      ],
      "id": "ad987214-acfb-451e-b53e-e2e79b2941fe",
      "name": "When chat message received",
      "webhookId": "3029f323-e24b-4aa6-b0ae-44bc0f0c969d"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f8f960e7-ac58-495e-abe7-e4c08641300c",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "=password",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "password"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c584e816-25cd-4931-a70e-cf816867ffe3",
                    "leftValue": "{{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "vpn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vpn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7da9f76b-af22-40cc-9447-8a8bc7222317",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "wifi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "wifi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c8c0ba57-c2cb-4179-bb6e-e31964627da7",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "printer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "printer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "90628946-d34b-419f-982a-a5a717fa578e",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7a3f018-de39-429b-8a3e-09162d56bd89",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "access",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "access"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "30bc872b-92ca-4646-b930-afb3830d689a",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "slow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "slow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1e2907c4-f109-409d-9dd9-3ad8fa33743e",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "disk",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "disk"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2c11fc4c-496a-4b64-840e-0113ec9e5402",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "account_lock",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "account_lock"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "32c9a11d-c34f-48d9-9de5-717e8c95fb8c",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "software_install",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "software_install"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a432d1c7-4523-43d7-8fe0-f2e01b695be0",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "network",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "network"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "735534f9-13cc-404e-9b4b-b894970a56bb",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "server",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "server"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "30148385-acca-4007-85e8-aa7c2620fb19",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "backup",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "backup"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "243959d7-727a-4b6f-a45e-2043c55cca1b",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "database",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "database"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7225ef1a-c3cf-468b-bb1d-b5a04d3f37b3",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "permissions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "permissions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "616d71cd-c716-46f4-8db8-d3dee45d1265",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "hardware",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hardware"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5daccb32-d831-4687-bff9-4ea0e54d803b",
                    "leftValue": "={{ $json.text.trim().toLowerCase() }}",
                    "rightValue": "security",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "security"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -480,
        800
      ],
      "id": "41269f61-82eb-47c9-b7ee-8efb68e3209f",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// vpn\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"VPN Fix\",\n  logs: [\n    \"Checking VPN client...\",\n    \"Re-establishing connection...\",\n    \"Validating credentials...\",\n    \"VPN connected\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        304
      ],
      "id": "0d54d7b4-b01c-4a88-833f-d7e0180d4a6f",
      "name": "VPN"
    },
    {
      "parameters": {
        "jsCode": "// Replicates your Python logic exactly\nawait new Promise(resolve => setTimeout(resolve, 2000)); // 2 second delay\n\nreturn [{\n  status: \"Success\",\n  action: \"Password Reset\",\n  logs: [\n    \"Validating user...\",\n    \"Connecting to auth server...\",\n    \"Resetting password...\",\n    \"Done\"\n  ],\n  data: \"TempPass@123\"\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        112
      ],
      "id": "7db08fe1-0113-4f89-8896-0d4c38db02ee",
      "name": "Password Reset"
    },
    {
      "parameters": {
        "jsCode": "// wifi\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"WiFi Fix\",\n  logs: [\n    \"Scanning networks...\",\n    \"Reconnecting to WiFi...\",\n    \"Refreshing IP...\",\n    \"WiFi stable\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        544
      ],
      "id": "611ff01c-d44b-4864-81a7-8f6786078dfc",
      "name": "Wifi"
    },
    {
      "parameters": {
        "jsCode": "// printer\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Printer Fix\",\n  logs: [\n    \"Checking printer status...\",\n    \"Clearing queue...\",\n    \"Restarting spooler...\",\n    \"Printer ready\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        688
      ],
      "id": "42e85a6f-6559-4c7a-b701-a71ee487b97e",
      "name": "Printer"
    },
    {
      "parameters": {
        "jsCode": "// email\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Email Repair\",\n  logs: [\n    \"Checking mail server...\",\n    \"Refreshing credentials...\",\n    \"Syncing inbox...\",\n    \"Email working\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        672
      ],
      "id": "310be5a9-da20-4703-b96d-ab87d6bb9bef",
      "name": "Email"
    },
    {
      "parameters": {
        "jsCode": "// access\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Access Grant\",\n  logs: [\n    \"Validating user...\",\n    \"Checking permissions...\",\n    \"Granting access...\",\n    \"Access confirmed\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        784
      ],
      "id": "830848e0-096e-4b76-9db3-ef783be02782",
      "name": "Access Issue"
    },
    {
      "parameters": {
        "jsCode": "// slow\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Performance Fix\",\n  logs: [\n    \"Checking system load...\",\n    \"Clearing temp files...\",\n    \"Optimizing processes...\",\n    \"System running smoothly\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        864
      ],
      "id": "72fca927-12de-4e98-b38d-eb45199aab95",
      "name": "System Slow "
    },
    {
      "parameters": {
        "jsCode": "// disk\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Disk Cleanup\",\n  logs: [\n    \"Analyzing disk usage...\",\n    \"Removing junk files...\",\n    \"Freeing space...\",\n    \"Disk optimized\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        960
      ],
      "id": "148fec28-4921-4dc7-97ae-fcc7b20b60e9",
      "name": "Disk Issue"
    },
    {
      "parameters": {
        "jsCode": "// account_lock\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Account Unlock\",\n  logs: [\n    \"Verifying identity...\",\n    \"Unlocking account...\",\n    \"Resetting attempts...\",\n    \"Account accessible\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        1056
      ],
      "id": "1e3b98de-8111-4c81-8c64-304ae43690e9",
      "name": "Account Lock Issue"
    },
    {
      "parameters": {
        "jsCode": "// software_install\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Software Install\",\n  logs: [\n    \"Downloading package...\",\n    \"Installing software...\",\n    \"Configuring setup...\",\n    \"Installation complete\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        1152
      ],
      "id": "1cf278bb-afbe-4db8-8559-1b383737c269",
      "name": "Software Installation Issue"
    },
    {
      "parameters": {
        "jsCode": "// network\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Network Fix\",\n  logs: [\n    \"Diagnosing network...\",\n    \"Resetting adapters...\",\n    \"Renewing IP...\",\n    \"Network restored\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1248
      ],
      "id": "b79b8b3e-9832-447c-a109-2e25017b4f19",
      "name": "Network Issue"
    },
    {
      "parameters": {
        "jsCode": "// server\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Server Restart\",\n  logs: [\n    \"Checking server health...\",\n    \"Restarting services...\",\n    \"Validating uptime...\",\n    \"Server operational\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1344
      ],
      "id": "59f92969-0a56-4d1c-befb-7b462cded137",
      "name": "Server Issue"
    },
    {
      "parameters": {
        "jsCode": "// backup\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Backup Restore\",\n  logs: [\n    \"Locating backup...\",\n    \"Restoring data...\",\n    \"Verifying integrity...\",\n    \"Backup successful\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1376
      ],
      "id": "39f61cf0-a22a-4f93-9c3e-228f54792761",
      "name": "Backup Issue"
    },
    {
      "parameters": {
        "jsCode": "// database\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Database Repair\",\n  logs: [\n    \"Checking DB status...\",\n    \"Repairing tables...\",\n    \"Optimizing queries...\",\n    \"Database stable\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1504
      ],
      "id": "2015a9da-bebc-4b43-8820-21335d016968",
      "name": "Database Issue"
    },
    {
      "parameters": {
        "jsCode": "// permissions\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Permission Update\",\n  logs: [\n    \"Reviewing roles...\",\n    \"Updating permissions...\",\n    \"Applying policies...\",\n    \"Permissions updated\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1568
      ],
      "id": "28299ec8-ecc3-4ca5-aa13-4efb3cee5589",
      "name": "Permissions Issue"
    },
    {
      "parameters": {
        "jsCode": "// hardware\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Hardware Check\",\n  logs: [\n    \"Scanning hardware...\",\n    \"Diagnosing issues...\",\n    \"Updating drivers...\",\n    \"Hardware functioning\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1680
      ],
      "id": "ef2cf760-b498-4406-ab17-e871ce8eaa6b",
      "name": "Hardware Issue"
    },
    {
      "parameters": {
        "jsCode": "// security\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nreturn [{\n  status: \"Success\",\n  action: \"Security Scan\",\n  logs: [\n    \"Running security scan...\",\n    \"Identifying threats...\",\n    \"Applying fixes...\",\n    \"System secured\"\n  ]\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1760
      ],
      "id": "cd5d1695-126c-455b-91b6-31e3a08602bd",
      "name": "Security Issue"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "You are an IT support classifier.  Classify the user's issue into EXACTLY ONE of these categories: password vpn wifi printer email access slow disk account_lock software_install network server backup database permissions hardware security  RULES: 1. ONLY return ONE WORD from the list above.  2. No explanation, no punctuation, no conversational text. 3. If the issue does not clearly fit any category, output: hardware"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -896,
        928
      ],
      "id": "d66bf3c2-3a80-4829-a2fb-8303bad1a740",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -976,
        1136
      ],
      "id": "c3a0f277-87ed-4986-b039-693d2295a5b2",
      "name": "Groq Chat Model",
      "notesInFlow": false,
      "credentials": {
        "groqApi": {
          "id": "s9heVpHuY9uceZDS",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Password Reset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VPN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wifi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Printer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Access Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "System Slow ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disk Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Account Lock Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Software Installation Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Network Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Server Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backup Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Database Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Permissions Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hardware Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Security Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "51bc32fb-fc92-413b-a25b-72b16d515368",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "MqYQ51uKQf5EslBQ",
  "tags": []
}